<div *ngIf="planItem.statusType == 1">
  <div class="card blue" style="width: 13.5rem">
    <div class="card-body">
      <p class="card-title"><b>Title:</b> {{ planItem.title }}</p>
      <p class="card-text"><b>Desc:</b> {{ planItem.description }}</p>
      <p class="card-subtitle mb-2 text-muted">
        <b>Time:</b> {{ planItem.time }}
      </p>
      <select
        [(ngModel)]="planItem.statusType"
        class="form-select"
        aria-label="Default select example"
      >
        <option value="1">ToDo</option>
        <option value="2">InProgress</option>
        <option value="3">Done</option>
      </select>
    </div>
    <button (click)="planDeleteBtn(planItem)" class="btn btn-danger">
      Delete
    </button>
  </div>
</div>

<div *ngIf="planItem.statusType == 2">
  <div class="card yellow" style="width: 13.5rem">
    <div class="card-body">
      <p class="card-title"><b>Title:</b> {{ planItem.title }}</p>
      <p class="card-text"><b>Desc:</b> {{ planItem.description }}</p>
      <p class="card-subtitle mb-2 text-muted">
        <b>Time:</b> {{ planItem.time }}
      </p>
      <select
        [(ngModel)]="planItem.statusType"
        class="form-select"
        aria-label="Default select example"
      >
        <option value="1">ToDo</option>
        <option value="2">InProgress</option>
        <option value="3">Done</option>
      </select>
    </div>
    <button (click)="planDeleteBtn(planItem)" class="btn btn-danger">
      Delete
    </button>
  </div>
</div>

<div *ngIf="planItem.statusType == 3">
  <div class="card green" style="width: 13.5rem">
    <div class="card-body">
      <p class="card-title"><b>Title:</b> {{ planItem.title }}</p>
      <p class="card-text"><b>Desc:</b> {{ planItem.description }}</p>
      <p class="card-subtitle mb-2 text-muted">
        <b>Time:</b> {{ planItem.time }}
      </p>
      <select
        [(ngModel)]="planItem.statusType"
        class="form-select"
        aria-label="Default select example"
      >
        <option value="1">ToDo</option>
        <option value="2">InProgress</option>
        <option value="3">Done</option>
      </select>
    </div>
    <button (click)="planDeleteBtn(planItem)" class="btn btn-danger">
      Delete
    </button>
  </div>
</div>
